Big Data And Society: Lab 2
=====

# Forking the Repository

First, let's fork the course repo. A fork is a copy of a repository. Unlike cloning, when you fork a repo, it is attached to your account, and you are free to modify it, and edit, without affecting the original version... which is desirable for the context of the class.

1. First click fork on the github page
2. On GitHub, navigate to your fork of repository.
3. In the right sidebar of your fork's repository page, click  to copy the clone URL for your fork.
4. Open Terminal (for Mac and Linux users) or the command prompt (for Windows users).
5. Type git clone, and then paste the URL you copied in Step 2. 

### Updating your Version to get Materials from the Main Class Repository

To get the new materials from the main class repository, you need to commit any changes you've made locally and push them to your personal fork of the repo online. Then pull the repository from the main class repo.

1. Type git remote add upstream, and then paste the URL https://github.com/civic-data-design-lab/16_11.S947.git (you might get a message saying that this already exists, this is fine, it means this has already been done.)
2. To verify the new upstream repository you've specified for your fork, type **git remote -v**. You should see the URL for your fork as origin (remember your fork has **your username** in it), and the URL for the original repository as upstream (the one with the **civic-data-design-lab** in the URL).
3. Before you pull the upstream master repo, commit any changes you've made locally by following these steps:

===

* Stage commits using **git add .**
* Commit your staged changes using **git commit -m "my changes"**
* Push your work to your forked repo. **git push origin master** (if you get a warning about LF conflicting with CRLF, this is not a problem, you can proceed)

===
    
This will update your forked repo with any local changes.
    
4. Once this is done, **pull** the upstream repository (the main class repository). This will both fetch and merge the original repo into your local version. Do this using **git pull upstream master**

Pulling from the remote repository will bring in its branches and their respective commits.

# Introduction to Pandas
![IPython](images/pandas.png "Pandas")
**Pandas** is a library for Python for data manipulation and analysis. Pandas expands the data processing capacities of Python and adds a number of classes for easily importing data, in particular numerical tables, from various formats into their DataFrame object. A `DataFrame` is Pandaâ€™s basic object that allows multidimensional data processing and indexing. `DataFrames` can be easily and efficiently queried without the need of cumbersome syntax and convoluted loops. `DataFrames` can be merged with other data, they can be sliced, and they can be reshaped; in a way, we can think of Pandas as a big data combination of Excel and SQL.

## Resources

Pandas employs a number of functional and declarative programming idioms making it a bit different from regulay Python syntax. However, it is very close to functionality to **NumPy**, treating objects as vectors. 

You can get a Cheatsheet to ease the learning curve, and learn about some of its functionality:

https://drive.google.com/folderview?id=0ByIrJAE4KMTtaGhRcXkxNHhmY2M&usp=sharing

### 0. Importing the library
First we need to import the library, and use a shorter name for it:

In [1]:
import pandas as pd
import numpy as np

### 1. Reading Files
Pandas provides a number of reader functions that generally return a pandas object or `DataFrame`. Multiplle different file types can be read, like **csv**, **txt**, **xls**, and **json**. The function parses the tabular data contained in the files and returns a formatted and indexed `DataFrame`. A number of additional arguments can be speficied, allowing to define the type of separator for text files, the header, the column to use as an index, etc. 

Additional documentation can be found on the API: 
http://pandas.pydata.org/pandas-docs/version/0.15.2/io.html

In [5]:
# We are reading a CSV with some Census data
df=pd.read_csv("data/2013arriyadh_pop_clean.csv")

# We can print the first 5 rows of the df
df

,TAZ,Saudi Male,Saudi Female,Total_Saudi,Non-Saudi Male,Non-Saudi Female,Total_Non_Saudi,Total Pop
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,5956,6943,12899,1943,2738,4681,17580
2,3,4339,4385,8724,2425,1189,3614,12338
3,4,1696,1160,2856,2427,106,2533,5389
4,5,1710,1553,3263,620,914,1534,4797
5,6,2063,1840,3903,1551,850,2401,6304
6,7,33,29,62,77,43,120,182
7,8,1099,984,2083,183,115,298,2381
8,9,2857,2264,5121,619,619,1238,6359
9,10,2562,2201,4763,1653,992,2645,7408
10,11,0,0,0,0,0,0,0
11,12,844,545,1389,195,182,377,1766
12,13,1636,1055,2691,1302,1213,2515,5206
13,14,3507,3369,6876,4289,5217,9506,16382
14,15,853,550,1403,157,146,303,1706
15,16,438,283,721,371,345,716,1437
16,17,1180,1082,2262,736,646,1382,3644
17,18,470,432,902,306,268,574,1476
18,19,593,544,1137,220,193,413,1550
19,20,354,325,679,82,72,154,833
20,21,177,147,324,214,193,407,731
21,22,764,683,1447,599,763,1362,2809
22,23,35,32,67,19,24,43,110
23,24,864,772,1636,707,899,1606,3242
24,25,242,216,458,134,171,305,763
25,26,0,0,0,0,0,0,0
26,27,10205,7227,17432,12635,8076,20711,38143
27,28,896,634,1530,603,385,988,2518
28,29,3267,2580,5847,11815,7955,19770,25617
29,30,1581,1248,2829,4445,2993,7438,10267
...,...,...,...,...,...,...,...,...
1467,1468,162,148,310,1574,939,2513,2823
1468,1469,119,109,228,881,526,1407,1635
1469,1470,157,142,299,1142,681,1823,2122
1470,1471,859,770,1629,623,2631,3254,4883
1471,1472,15,0,15,1258,24,1282,1297
1472,1473,2,0,2,189,4,193,195
1473,1474,4,0,4,336,6,342,346
1474,1475,3,0,3,359,0,359,362
1475,1476,1235,957,2192,3949,950,4899,7091
1476,1477,1015,800,1815,4531,1623,6154,7969
1477,1478,2147,1691,3838,9682,3469,13151,16989
1478,1479,638,503,1141,2692,964,3656,4797
1479,1480,1106,924,2030,372,659,1031,3061
1480,1481,200,181,381,1061,633,1694,2075
1481,1482,33,20,53,196,96,292,345
1482,1483,0,0,0,0,0,0,0
1483,1484,986,845,1831,4855,2033,6888,8719
1484,1485,103,87,190,503,211,714,904
1485,1486,3123,2449,5572,276,261,537,6109
1486,1487,4345,3895,8240,559,435,994,9234
1487,1488,387,346,733,17,14,31,764
1488,1489,0,0,0,0,0,0,0
1489,1490,1408,1098,2506,70,35,105,2611
1490,1491,0,0,0,0,0,0,0
1491,1492,0,0,0,0,0,0,0
1492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Notice we have a table! A spreadsheet! And it indexed the rows. Pandas (borrowing from R) calls it a DataFrame. Lets see the types of the columns.

`df`, in Python context, is an instance of the `pd.DataFrame` class, created by calling the `pd.read_csv` function, which calls the DataFrame constructor inside of it. `df` is a dataframe object.

### 2. DataFrame methods:
The df object, for example, has methods, or functions belonging to it, which allow it to do things. For example `df.head()` is a method that shows the first 5 rows of the dataframe. `df.dtypes` returns the data types of each of the columns. 

Additional documentation can be found here: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html
In general, the API is the best resource: http://pandas.pydata.org/pandas-docs/stable/api.html

In [3]:
df.dtypes

TAZ                 float64
Saudi Male          float64
Saudi Female        float64
Total_Saudi         float64
Non-Saudi Male      float64
Non-Saudi Female    float64
Total_Non_Saudi     float64
Total Pop           float64
dtype: object

The shape of the object is:

In [7]:
df['Total Pop']<1000

0       False
1       False
2       False
3       False
4       False
5       False
6        True
7       False
8       False
9       False
10       True
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19       True
20       True
21      False
22       True
23      False
24       True
25       True
26      False
27      False
28      False
29      False
        ...
1467    False
1468    False
1469    False
1470    False
1471    False
1472     True
1473     True
1474     True
1475    False
1476    False
1477    False
1478    False
1479    False
1480    False
1481     True
1482     True
1483    False
1484     True
1485    False
1486    False
1487     True
1488     True
1489    False
1490     True
1491     True
1492    False
1493    False
1494    False
1495    False
1496    False
Name: Total Pop, dtype: bool

1497 rows times 8 columns. A spredsheet is a matrix. `df.shape` returns a tuple, so we can access members of this **tuple** like we do with a list:

In [5]:
df.shape[0], df.shape[1]

(1497, 8)

These are the column names:

In [6]:
df.columns

Index([u'TAZ', u'Saudi Male', u'Saudi Female', u'Total_Saudi', u'Non-Saudi Male', u'Non-Saudi Female', u'Total_Non_Saudi', u'Total Pop'], dtype='object')

Notice that `df.columns` returns a `Pandas.Series` object. This object is built on top of the Python **lists**, and has similar methods and attributes.

### 3. Querying

Pandas `DataFrames` have built-in methods for performing queries in a SQL style. They can be diced, sorted, etc it. We can apply any of this queries to parts of the `df`, and based on this query select subsets of the whole `df`. Here we look for all the TAZ with a Total Populations of less than 300.

In [7]:
df['Total Pop'] < 300

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
...
1482     True
1483    False
1484    False
1485    False
1486    False
1487    False
1488     True
1489    False
1490     True
1491     True
1492    False
1493    False
1494    False
1495    False
1496    False
Name: Total Pop, Length: 1497, dtype: bool

This gives us a `Pandas.Series` of `True`s and `False`s. We call this a mask. If we count the number of `True`s with a population of less than 300, we'll get the fraction of TAZ $\lt$ 300. 

To implement this, we can combine the Pandas query with a **Numpy** function:

In [8]:
np.sum(df['Total Pop'] < 300)

357

Notice that you could just find the average since the `True`s equal to 1 and `False`s to 0.

In [9]:
np.mean(df['Total Pop'] < 300)

0.23847695390781562

Or directly, in Pandas, which works since `df['Total Pop'] < 300` is a pandas Series. Pandas series have a number of built-in methods like `.mean()`!

In [10]:
(df['Total Pop'] < 300).mean()

0.23847695390781562

#### Exercise:
Calculate the minimum value, and maximum value of the `Total Pop` column. [This](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.min.html#pandas.Series.min) documentation might be useful.

In [16]:
# Your code here
df['Total Pop'].max()

116418.0

### 4. Filtering

We can use the `df` mask to get a filtered dataframe: we use the mask to "index" into the dataframe to get the rows we want.

In [20]:
df_under300 = df[df['Total Pop'] < 300]
df_under300['Saudi Male']

6        33
10        0
22       35
25        0
38        2
40        3
47       56
49      195
50      109
59        1
67        0
69        2
74        0
96        7
98       25
110       2
112       8
114       3
116       1
149       7
150       0
160       0
183       0
185      10
214      31
221       3
224       0
225      18
227       2
239       0
       ...
1366     36
1396      0
1397      0
1401      0
1404      4
1405      1
1411      8
1412      0
1413      0
1416     69
1431    101
1434      0
1436      2
1440      0
1441      0
1442      0
1443     23
1444      3
1445    118
1447     35
1453    129
1455     75
1456      0
1465      1
1466      2
1472      2
1482      0
1488      0
1490      0
1491      0
Name: Saudi Male, dtype: float64

We can query based on multiple conditions, by using a `&` condition. All we need to do is add `()` brackets around each condition. The query uses a boolean AND. Each condition ceates a mask of trues and falses.

In [31]:
filtered = df[(df['Total Pop'] < 300) & (df['Total_Non_Saudi'] > 100)]

#### Exercise:
From the total population, subtract the total non-saudi male population, and get the average across the whole dataset. [Documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.subtract.html#pandas.Series.subtract)

In [33]:
# Your code here
np.average(filtered['Total Pop'] - filtered['Non-Saudi Male'])

94.219512195121951

### 5. Cleaning

One of the most common tasks while working with big data is data cleaning. Datasets will be inherently heterogeneous and unstructured. The lack of structure can cause functions to throw errors. We can clean data sets through various methods; if the discrepancies follow a structured pattern, it is possible to use built-in functions, or write our own functions. However, if the errors cannot be structured, we might have to do it manually!

For this example, we first check the datatypes:

In [13]:
df.dtypes

TAZ                 float64
Saudi Male          float64
Saudi Female        float64
Total_Saudi         float64
Non-Saudi Male      float64
Non-Saudi Female    float64
Total_Non_Saudi     float64
Total Pop           float64
dtype: object

A common cause of errors is having Null or 'None' values. This usually means data was missing.

In [36]:
df[df['Total Pop'].notnull()]

,TAZ,Saudi Male,Saudi Female,Total_Saudi,Non-Saudi Male,Non-Saudi Female,Total_Non_Saudi,Total Pop
1,2,5956,6943,12899,1943,2738,4681,17580
2,3,4339,4385,8724,2425,1189,3614,12338
3,4,1696,1160,2856,2427,106,2533,5389
4,5,1710,1553,3263,620,914,1534,4797
5,6,2063,1840,3903,1551,850,2401,6304
6,7,33,29,62,77,43,120,182
7,8,1099,984,2083,183,115,298,2381
8,9,2857,2264,5121,619,619,1238,6359
9,10,2562,2201,4763,1653,992,2645,7408
10,11,0,0,0,0,0,0,0
11,12,844,545,1389,195,182,377,1766
12,13,1636,1055,2691,1302,1213,2515,5206
13,14,3507,3369,6876,4289,5217,9506,16382
14,15,853,550,1403,157,146,303,1706
15,16,438,283,721,371,345,716,1437
16,17,1180,1082,2262,736,646,1382,3644
17,18,470,432,902,306,268,574,1476
18,19,593,544,1137,220,193,413,1550
19,20,354,325,679,82,72,154,833
20,21,177,147,324,214,193,407,731
21,22,764,683,1447,599,763,1362,2809
22,23,35,32,67,19,24,43,110
23,24,864,772,1636,707,899,1606,3242
24,25,242,216,458,134,171,305,763
25,26,0,0,0,0,0,0,0
26,27,10205,7227,17432,12635,8076,20711,38143
27,28,896,634,1530,603,385,988,2518
28,29,3267,2580,5847,11815,7955,19770,25617
29,30,1581,1248,2829,4445,2993,7438,10267
30,31,511,542,1053,827,560,1387,2440
...,...,...,...,...,...,...,...,...
1462,1463,2021,1974,3995,786,1085,1871,5866
1463,1464,3309,3233,6542,1598,2203,3801,10343
1464,1465,59,54,113,552,329,881,994
1465,1466,1,1,2,11,7,18,20
1466,1467,2,1,3,19,11,30,33
1467,1468,162,148,310,1574,939,2513,2823
1468,1469,119,109,228,881,526,1407,1635
1469,1470,157,142,299,1142,681,1823,2122
1470,1471,859,770,1629,623,2631,3254,4883
1471,1472,15,0,15,1258,24,1282,1297
1472,1473,2,0,2,189,4,193,195
1473,1474,4,0,4,336,6,342,346
1474,1475,3,0,3,359,0,359,362
1475,1476,1235,957,2192,3949,950,4899,7091
1476,1477,1015,800,1815,4531,1623,6154,7969
1477,1478,2147,1691,3838,9682,3469,13151,16989
1478,1479,638,503,1141,2692,964,3656,4797
1479,1480,1106,924,2030,372,659,1031,3061
1480,1481,200,181,381,1061,633,1694,2075
1481,1482,33,20,53,196,96,292,345
1482,1483,0,0,0,0,0,0,0
1483,1484,986,845,1831,4855,2033,6888,8719
1484,1485,103,87,190,503,211,714,904
1485,1486,3123,2449,5572,276,261,537,6109
1486,1487,4345,3895,8240,559,435,994,9234
1487,1488,387,346,733,17,14,31,764
1488,1489,0,0,0,0,0,0,0
1489,1490,1408,1098,2506,70,35,105,2611
1490,1491,0,0,0,0,0,0,0
1491,1492,0,0,0,0,0,0,0

We had some incomplete data! We can get rid of it with the `.notnull()` function.

In [15]:
df = df[df['Total Pop'].notnull()]
df.shape

(1491, 8)

We removed those 6 rows.

### 6. Split-apply-combine
With Pandas we can split the data into groups based on some criteria. We can then apply a function to each group independently, and finally combine the results into a new data structure.

<img src=http://i.imgur.com/yjNkiwL.png></img>

#### Find Road Network Nodes and Edges
Letâ€™s look at a network file of Riyadh. The network was generated based on cell phone data, and it represents cell phone towers in the area, and the flow among them. In this example, we are going to:

* Split data per node ID. We will be grouping the dataset by their source node ID.
* sum their voc (volume/capacity). Once we had grouped them, we can sum by source node.
* combine the result. We can finally perform operations on the grouped dataset.

In [16]:
# Import the file
edges=pd.read_csv("data/riyadh_edges.csv")
edges.head()

# Group the edges by their source
grouped_sources = edges['gid'].groupby(edges['source'])

## count and combine
edges_per_node = grouped_sources.count()
edges_per_node

source
1         3
2         3
3         1
4         4
5         1
6         1
7         1
8         1
9         2
10        2
11        3
12        3
13        2
14        1
15        2
...
10714     1
10715     1
10716     1
10717     2
10718     1
10719     1
10720     1
10721     1
10722     1
10723     1
10724     1
10725     1
10726     1
10727     1
10728     1
Name: gid, Length: 10726, dtype: int64

In [17]:
## average the flow per source and combine
grouped_voc_source = edges['voc'].groupby(edges['source'])
average_voc_source = grouped_voc_source.mean()
print "Average VOC Source Nodes:"
print average_voc_source
print

# Get the maximum source node
maximum_voc_source = average_voc_source.max()
slow_voc_source = average_voc_source[average_voc_source == maximum_voc_source].index

Average VOC Source Nodes:
source
1         0.002690
2         0.000585
3         0.028723
4         0.028389
5         0.161425
6         0.188712
7         0.051845
8         0.188947
9         0.000532
10        0.008032
11        0.000526
12        0.000000
13        0.003684
14        0.006842
15        0.004720
...
10714     0.047895
10715     0.000431
10716     0.011228
10717     0.000000
10718     0.003770
10719     0.114737
10720     0.032281
10721     0.000000
10722     0.010000
10723     0.000000
10724     0.031053
10725     0.016842
10726     0.003860
10727     0.037197
10728     0.027368
Name: voc, Length: 10726, dtype: float64

In [18]:
print 'The slowest edge is: ', 
print slow_voc_source


# what are we doing with slow source node?
print "Slow Source Node"
print edges[edges.gid.isin(slow_voc_source)].source
print

The slowest edge is:  Int64Index([10576], dtype='int64')
Slow Source Node
202    3755
Name: source, dtype: int64